<fieldset id="driver_settings_container">
  <legend>Sofőrök kezelése</legend>
  <button (click)="setEveryValidPropertyToFalse()">
    Minden érvényes belépő visszavonása
  </button>
  <br />
  <br />
  <fieldset>
    <legend>Új sofőr felvitele</legend>
    <label id="newDriverLabel" for="newDriverInput">Sofőr:</label>
    <input
      [(ngModel)]="newDriverInput"
      type="text"
      id="newDriverInput"
      name="newDriverInput"
      placeholder=""
      oninput="this.value = this.value.toUpperCase()"
    />
    <br />
    <input
      [(ngModel)]="newDriverValidCheckboxInput"
      type="checkbox"
      id="newDriverValidCheckboxInput"
      name="newDriverValidCheckboxInput"
    /><label for="newDriverValidCheckboxInput"> Van érvényes belépője </label>
    <input
      [(ngModel)]="newDriverBannedCheckboxInput"
      type="checkbox"
      id="newDriverBannedCheckboxInput"
      name="newDriverBannedCheckboxInput"
    /><label for="newDriverBannedCheckboxInput"> Kitiltva </label>
    <br />
    <button (click)="addNewDriver()">Elküld</button>
  </fieldset>

  <fieldset>
    <legend>Rendszerben lévő sofőrök</legend>
    <app-entity-search-and-select
      #settingsdriverdriverSearchAndSelect
      [entityContentName]="'Sofőr:'"
      [unknownHandling]="false"
      [entityName]="'settings_driver_drivers_in_system'"
      (searchEntityEvent)="filterForDrivers($event)"
      (selectedEntityEvent)="selectDriver($event)"
    ></app-entity-search-and-select>
    <br />
    <div class="{{ calculateClass() }}">
      <div class="updateSelectedDriverContainer">
        <br />
        <label id="updateDriverLabel" for="updateDriverLabel">Sofőr:</label>
        <input
          [(ngModel)]="updateDriverInput"
          type="text"
          id="updateDriverLabel"
          name="updateDriverLabel"
          placeholder=""
          oninput="this.value = this.value.toUpperCase()"
        />
        <br />

        <input
          [(ngModel)]="updateDriverValidCheckboxInput"
          type="checkbox"
          id="updateDriverValidCheckboxInput"
          name="updateDriverValidCheckboxInput"
        /><label for="updateDriverValidCheckboxInput">
          Van érvényes belépője
        </label>
        <br />

        <input
          [(ngModel)]="updateDriverBannedCheckboxInput"
          type="checkbox"
          id="updateDriverBannedCheckboxInput"
          name="updateDriverBannedCheckboxInput"
        /><label for="updateDriverBannedCheckboxInput"> Kitiltva </label>
        <br />

        <button (click)="updateDriver(selectedDriverEntity)">Mentés</button>
        <button (click)="deleteDriver(selectedDriverEntity)">Törlés</button>
        <br />
      </div>
      <fieldset>
        <legend>A kiválasztott sofőrhöz rendelt helyszínek</legend>
        <app-entity-search-and-select
          #settingsdriverdestinationsSearchAndSelecForSelectedDriver
          [entityContentName]="'Helyszín:'"
          [entityName]="'settings_driver_destinations_for_selected_driver'"
          [unknownHandling]="false"
          [withoutSearch]="true"
          (selectedEntityEvent)="selectDestinationForSelectedDriver($event)"
        ></app-entity-search-and-select>
        <div
          *ngIf="selectedDestinationForSelectedDriver && selectedDriverEntity"
        >
          <p>
            kiválasztott helyszín:{{
              selectedDestinationForSelectedDriver.content
            }}
          </p>
          <button
            (click)="
              deleteDestinationFromTheDriver(
                selectedDriverEntity,
                selectedDestinationForSelectedDriver
              )
            "
          >
            Hozzárendelés törlése
          </button>
        </div>
      </fieldset>
      <fieldset style="display: none">
        <legend>
          A kiválasztott sofőrhöz tartozó automatikusan hozzárendelt helyszínek
        </legend>
        <app-entity-search-and-select
          #settingsdriverautoDestinationsSearchAndSelecForSelectedDriver
          [entityContentName]="'Helyszín:'"
          [entityName]="
            'settings_driver_destinations_for_selected_driver_automatic'
          "
          [unknownHandling]="false"
          [withoutSearch]="true"
          (selectedEntityEvent)="selectAutoDestinationForSelectedDriver($event)"
        ></app-entity-search-and-select>

        <div
          *ngIf="
            selectedAutoDestinationForSelectedDriver && selectedDriverEntity
          "
        >
          <p>
            kiválasztott helyszín:{{
              selectedAutoDestinationForSelectedDriver.content
            }}
          </p>
          <button
            (click)="
              deleteAutoDestinationFromTheDriver(
                selectedDriverEntity,
                selectedAutoDestinationForSelectedDriver
              )
            "
          >
            Hozzárendelés törlése
          </button>
        </div>
      </fieldset>
      <fieldset>
        <legend>Helyszín keresése majd hozzárendelése</legend>
        <app-entity-search-and-select
          #settingsdriveraddDestinationSearchAndSelecForSelectedDriver
          [entityContentName]="'Helyszín:'"
          [entityName]="'settings_driver_destinations'"
          [unknownHandling]="false"
          (searchEntityEvent)="filterForAddDestinationForSelectedDriver($event)"
          (selectedEntityEvent)="selectAddDestinationForSelectedDriver($event)"
        ></app-entity-search-and-select>
        <div
          *ngIf="
            selectedAddDestinationForSelectedDriver && selectedDriverEntity
          "
        >
          <p>
            kiválasztott helyszín:{{
              selectedAddDestinationForSelectedDriver.content
            }}
          </p>
          <button
            (click)="
              addDestinationToSelectedDriver(
                selectedDriverEntity,
                selectedAddDestinationForSelectedDriver
              )
            "
          >
            Hozzárendel
          </button>
        </div>
      </fieldset>

      <fieldset>
        <legend>A kiválasztott sofőrhöz rendelt rendszámok</legend>
        <app-entity-search-and-select
          #settingsdriverlicensePlatesSearchAndSelecForSelectedDriver
          [entityContentName]="'Rendszám:'"
          [entityName]="'settings_driver_license_plates_for_selected_driver'"
          [unknownHandling]="false"
          [withoutSearch]="true"
          (selectedEntityEvent)="selectLicensePlatesForSelectedDriver($event)"
        ></app-entity-search-and-select>

        <div
          *ngIf="selectedLicensePlatesForSelectedDriver && selectedDriverEntity"
        >
          <p>
            kiválasztott rendszám:{{
              selectedLicensePlatesForSelectedDriver.content
            }}
          </p>
          <button
            (click)="
              deleteLicensePlateFromTheDriver(
                selectedDriverEntity,
                selectedLicensePlatesForSelectedDriver
              )
            "
          >
            Hozzárendelés törlése
          </button>
        </div>
      </fieldset>
      <fieldset style="display: none">
        <legend>
          A kiválasztott sofőrhöz tartozó automatikusan hozzárendelt rendszámok
        </legend>
        <app-entity-search-and-select
          #settingsdriverautoLicensePlatesSearchAndSelecForSelectedDriver
          [entityContentName]="'Rendszám:'"
          [entityName]="
            'settings_driver_license_plates_for_selected_driver_auto'
          "
          [unknownHandling]="false"
          [withoutSearch]="true"
          (selectedEntityEvent)="
            selectAutoLicensePlatesForSelectedDriver($event)
          "
        ></app-entity-search-and-select>
        <div
          *ngIf="
            selectedAutoLicensePlatesForSelectedDriver && selectedDriverEntity
          "
        >
          <p>
            kiválasztott rendszám:{{
              selectedAutoLicensePlatesForSelectedDriver.content
            }}
          </p>
          <button
            (click)="
              deleteAutoLicensePlateFromTheDriver(
                selectedDriverEntity,
                selectedAutoLicensePlatesForSelectedDriver
              )
            "
          >
            Hozzárendelés törlése
          </button>
        </div>
      </fieldset>
      <fieldset>
        <legend>Rendszám keresése majd hozzárendelése</legend>
        <app-entity-search-and-select
          #settingsdriveraddLicensePlatesSearchAndSelecForSelectedDriver
          [entityContentName]="'Rendszám:'"
          [entityName]="'settings_driver_license_plate'"
          [unknownHandling]="false"
          (searchEntityEvent)="
            filterForAddLicensePlatesForSelectedDriver($event)
          "
          (selectedEntityEvent)="
            selectAddLicensePlatesForSelectedDriver($event)
          "
        ></app-entity-search-and-select>
        <div
          *ngIf="
            selectedAddLicensePlatesForSelectedDriver && selectedDriverEntity
          "
        >
          <p>
            kiválasztott rendszám:{{
              selectedAddLicensePlatesForSelectedDriver.content
            }}
          </p>
          <button
            (click)="
              addLicensePlateToSelectedDriver(
                selectedDriverEntity,
                selectedAddLicensePlatesForSelectedDriver
              )
            "
          >
            Hozzárendel
          </button>
        </div>
      </fieldset>
    </div>
  </fieldset>
</fieldset>
