<div id="entry_table_container">
  <table id="entryTable">
    <thead id="entryTableHead">
      <tr>
        <th class="table_header" style="width: 15%">Rendszám</th>
        <th class="table_header" style="width: 20%">Sofőr</th>
        <th class="table_header" style="width: 15%">Kihez/Hová</th>
        <th class="table_header" style="width: 15%">Dátum</th>
        <th class="table_header" style="width: 5%">Írány</th>
        <th class="table_header" style="width: 5%">Porta</th>
        <th class="table_header" style="width: 20%">Megjegyzés</th>
        <th class="table_header" style="width: 6%"></th>
      </tr>
    </thead>
    <tbody id="entryTableBody"></tbody>
  </table>
</div>
