<div #loading_screen id="loading_screen">
  <div id="loading_screen_text">Töltés...</div>
</div>
<div id="settings_panel_button">
  <span
    ><span (click)="openAndCloseSettings()">⚙️</span> <br />
    <input
      id="groupEntryChecked"
      name="groupEntryChecked"
      [(ngModel)]="groupEntryChecked"
      type="checkbox"
      (change)="groupEntryCheckboxChanged()"
    />
    <label for="groupEntryChecked">👥</label></span
  >
</div>
<div #settings_screen id="settings_screen">
  <app-settings></app-settings>
</div>

<div #update_popup_screen id="update_popup_screen">
  <app-update-entry-popup
    #update_entry_container
    id="update_entry_container"
    (updateEntryEntityResultEvent)="updateEntryEntityResultEventHandler($event)"
  ></app-update-entry-popup>
</div>
<div #newEntryContainer id="newEntryContainer">
  <div>
    <app-entity-search-and-select
      #licensePlateSearchAndSelect
      [entityContentName]="'Rendszám:'"
      [entityName]="'license_plate'"
      (searchEntityEvent)="filterForLicensePlates($event)"
      (selectedEntityEvent)="selectedLicensePlate($event)"
    ></app-entity-search-and-select>
    <app-entity-search-and-select
      #driverSearchAndSelect
      [entityContentName]="'Sofőr:'"
      [entityName]="'driver'"
      (searchEntityEvent)="filterForDrivers($event)"
      (selectedEntityEvent)="selectedDriver($event)"
    ></app-entity-search-and-select>
    <app-entity-search-and-select
      #destinationSearchAndSelect
      [entityContentName]="'Kihez/hová:'"
      [entityName]="'destination'"
      (searchEntityEvent)="filterForDestinations($event)"
      (selectedEntityEvent)="selectedDestination($event)"
    ></app-entity-search-and-select>
    <div id="commentInputContainer">
      <label id="commentLabel" for="commentInput">Megjegyzés:</label>
      <input
        [(ngModel)]="commentTxt"
        type="text"
        id="commentInput"
        name="commentInput"
        placeholder=""
        oninput="this.value = this.value.toUpperCase()"
      />
    </div>
    <br />
    <button
      #newEntryButtonIn
      (click)="createNewEntry('BE')"
      class="newEntryButton"
      id="newEntryButtonIn"
    >
      Befelé
    </button>
    <button
      #newEntryButtonOut
      (click)="createNewEntry('KI')"
      class="newEntryButton"
      id="newEntryButtonOut"
    >
      Kifelé
    </button>
    <fieldset id="portaSelectorRadioContainer">
      <legend>Porta</legend>
      <input
        #porta1RadioButton
        type="radio"
        id="porta1_radio"
        name="porta"
        value="1."
        (change)="portaRadioButtonChanged()"
        [checked]="porta1RadioButtonIsChecked"
      />
      <label for="porta1_radio" id="porta1_radio_label">1.</label><br />
      <input
        #porta2RadioButton
        type="radio"
        id="porta2_radio"
        name="porta"
        value="2."
        (change)="portaRadioButtonChanged()"
        [checked]="!porta1RadioButtonIsChecked"
      />
      <label for="porta2_radio" id="porta2_radio_label">2.</label><br />
    </fieldset>
  </div>

  <div style="clear: both; margin: 5px">
    <label for="entrySearchBar">Keresés:</label>
    <input
      id="entrySearchBar"
      [(ngModel)]="searchTxt"
      type="text"
      oninput="this.value = this.value.toUpperCase()"
      (keyup)="triggerSearch()"
      class="inputForEntrySearch"
    />
    <button style="float: right" (click)="exportToExcel()">
      Excelbe mentés
    </button>
    <label id="startDateLabel" style="display: none" for="startDateInput"
      >Mettől:</label
    >
    <input
      type="date"
      id="startDateInput"
      [(ngModel)]="yesterday"
      style="display: none"
      class="inputForEntrySearch"
    />
    <label id="endDateLabel" style="display: none" for="endDateInput"
      >Meddig:</label
    >
    <input
      type="date"
      id="endDateInput"
      [(ngModel)]="tomorrow"
      style="display: none"
      class="inputForEntrySearch"
    />
    <app-entry-table-native
      #entrytable
      (quickSelectEntryEvent)="quickSelect($event)"
      (editEntryEvent)="editEntry($event)"
    ></app-entry-table-native>
  </div>
</div>
