#settings_panel_container {
  overflow-y: scroll;
  height: 100%;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px 0;
  font-size: 16px;
}
