#entryTable {
  width: 100%;
}

#entryTableHead {
  background-color: white;
}

.table_header {
  font-size: 1.5em;
  text-align: left;
}

.table_row {
  font-size: 1.5em;
  background-color: white;
}

.table_row:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}

#entry_table_container {
  overflow-y: scroll;
  background-color: rgb(165, 165, 165);
  border: 1px solid black;
  height: 540px;
}

.entity_banned {
  background-color: darkred;
}

.entity_valid {
  background-color: greenyellow;
}
