<fieldset>
  <legend>Frissítés</legend>
  <label for="entry-time">Dátum és idő:</label>
  <input
    type="datetime-local"
    id="entry-time"
    name="entry-time"
    [(ngModel)]="entryDateTime"
  />
  <br />
  <label for="update_entry_comment">Komment:</label>
  <input
    type="text"
    id="update_entry_comment"
    name="update_entry_comment"
    [(ngModel)]="update_entry_comment"
    oninput="this.value = this.value.toUpperCase()"
  />
  <br />

  <button type="button" (click)="saveChanges()">Mentés</button>
  <button type="button" (click)="cancelChanges()">Mégsem</button>
</fieldset>
