<div class="container">
  <label for="uname"><b>Felhasználónév</b></label>
  <input
    [(ngModel)]="username"
    type="text"
    placeholder="Felhasználónév"
    name="uname"
    required
  />
  <br />

  <label for="psw"><b>Jelszó</b></label>
  <input
    [(ngModel)]="password"
    type="password"
    placeholder="Jelszó"
    name="psw"
    required
  />
  <br />
  <label for="hostname"><b>Adatbázis elérése</b></label>
  <input
    [(ngModel)]="hostandport"
    type="text"
    placeholder=""
    name="hostname"
    required
  />
  <br />
  <button (click)="login()">Bejelentkezés</button>
  <p *ngIf="loginAttempt && !loginResult">Hibás bejelentkezés</p>
  <p *ngIf="replicationStarted">Az adatbázis letöltés elindult!</p>

  <br />
  <button (click)="cleanUpDeletedRows()">Takarítás</button>

  <button (click)="backupToLatestRevision()">Adatbázis visszaállítása</button>
</div>
